<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
<main>
  <h1> <%= title %> </h1>
  <form id="add-destination-form" action="/destinations" method="POST">
    <input type="text" name="airport" id="destination-input">
    <button type="submit">Add Destination</button>
  </form>
  <div>Destinations : </div>
  <div>
    <% destinations.forEach(function(destination) { %>
      <p> Airport : <%= destination.airport %> </p>
    <% }) %> 

  </div>
</main>

<%- include("../partials/footer") %>