<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
<body>
  
  
  <h1> Flight Info:</h1>
  <div> Airline:</div>
  <div> <%= flight.airline %></div>
  <div> Airport:</div>
  <div> <%= flight.airport %></div>
  <div> Flight # : </div>
  <div><%= flight.flightNo %> </div>
  <div> Departure: </div>
  <div><%= flight.departs %></div>

  <form 
  id="add-ticket-form"
  action="/flights/<%= flight._id%>/tickets"
  method="POST"
>
<div id="seat-input">
  <label for="seat-input">Seat : </label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label for="price-input">Price : </label>
  <input name="price" type= "number" min = "0">
  <button type="submit">Add Ticket </button>
</form>

<% if (flight.tickets.length) { %>
      <% let total = 0 %> 
      <% flight.tickets.forEach(function(ticket) { %>
        <% total += ticket.seat %>
        
        <div>Ticket: <%= ticket.seat %>, $<%= ticket.price%> </div>
        
        
      
      <% }) %>
<% } %>

<div>Destination List:</div>
    <ul>
      <%- flight.destination.map(d => 
        `<li>${d.airport}</li>`
      ).join('') %>
    </ul>
    
  <form id="add-dest-on-flight" action="/flights/<%= movie._id %>/destinations" method="POST">
    <select name="destinationId">
      <%- destinations.map(d => 
        `<option value="${d._id}">${d.name}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add Destination to Flight</button>
  </form>

</body>
</html>