<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
<body>
  
  
  <h1> Flight Info:</h1>
  <div> Airline:</div>
  <div> <%= flight.airline %></div>
  <div> Airport:</div>
  <div> <%= flight.airport %></div>
  <div> Flight # : </div>
  <div><%= flight.flightNo %> </div>
  <div> Departure: </div>
  <div><%= flight.departs %></div>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <input name="price" 

</body>
</html>